<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>backlight-level</key>
	<data>
	AAA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	byFcCgAAAAAwFBhPMvNBxA==
	</data>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEg==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CZDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	MjAxN21icAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AkQPAAAB
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajc5YQAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	5r2Y5r2Y4oCZcyBNYWNCb29rIFBybw==
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QKEFRQUFBQUJaMWtBU1pTX2xHVVJoWTZsRGJkeW1CWVRF
	RS1WQkN4RX4RAfVfEBZub3JtYW4ucGVubkBpY2xvdWQuY29tWzEwODY3OTgwNTA0I0HW
	dZAHp8KPXxAkQTE0OTdDM0MtM0NBMS00M0M3LTg0NDgtMEJEQ0E3MUMwN0Ew0xcYGRob
	HF8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJzdE5hbWVfEBJJ
	blVzZU93bmVyTGFzdE5hbWVib1hvWGFvWGFvWNEPHtQfICEiIyQlJlZhcHNFbnZYaG9z
	dG5hbWVdYXV0aE1lY2hhbmlzbVZzY2hlbWVaUHJvZHVjdGlvbl8QE3A2MC1mbWlwLmlj
	bG91ZC5jb21VdG9rZW5VaHR0cHMACAAhADMASABSAGEAaAB2AH8AiACQAJUAngC0ALYA
	uADcAQcBCgEjAS8BOAFfAWYBfgGUAakBrgGxAbQBtwHAAccB0AHeAeUB8AIGAgwAAAAA
	AAACAQAAAAAAAAAnAAAAAAAAAAAAAAAAAAACEg==
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly8zNUZFMjU1QS0wMDRFLTNDNzItQTlGQi04MUNGODE0NzUzRjAv
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>platform-uuid</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	emgtSGFuczow
	</data>
	<key>previous-system-uuid</key>
	<data>
	MzVGRTI1NUEtMDA0RS0zQzcyLUE5RkItODFDRjgxNDc1M0Yw
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxcQAAEAAAAACA0CACplSQQBKgACAAAAAPAB
	AAAAAACGqtsBAAAAAP/M8ZynubhKvxCqMASwkwECAgQDJAD3/HS+fAvzSZFHAfQELmhC
	0vHfWauydECSz3uBEIipdn//BAA=
	</data>
</dict>
</plist>